:root {
    --projwidth: 200px;
    --projheight: 200px;
    --projmargin: 1rem;
    --projpadding: .5rem;
}

body {
  font-family: 'Oswald', sans-serif;
  color: #4E5340;
  background-color: #B7D1DA;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header > * {
    flex: 1;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px #697268 solid;
    border-radius: 20px;
    margin: 1em;
  }

  h1 {
    padding: 1em;
    font-size: 3em;
    font-weight: bolder;
    display: flex;
  }
  
  h2 {
    padding: 1 em;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    margin-bottom: 1em;
  }

  nav, ul,li {
    padding: 5px;
    margin: 0.5em;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #95A3A4;
  }

  a{
    color: #95A3A4;
    text-decoration: none;
    border: #4E5340 solid 5px;
    border-radius: 20px;
    padding: 8px;
    background-color: #B7D1DA;
  }
  a:hover {
    box-shadow: 10px 10px 10px 10px #95A3A4;
  }
  a:visited {
    color: #4E5340;
  }
/* ombre background pic */
  .imgholder {
    display: flex;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 30vh;
    justify-content: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }
  .main-container > * {
    flex: 1;
  }

  .aboutmesection {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #aboutmetitle {
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .aboutme {
    line-height: 3;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 50px;
  }
/* added flex to project section */
  .projectsection {
    display: flex;
    flex-direction: row;
  }
  
  #projectstitle {
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
/* Project images section */
  #project-1 {
    background-image: url(./images/getfitproj.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2em;
    object-fit: contain;
    width: 300px;
    height: 300px;
    margin: 1rem;
    padding: 0.5rem;
  }

  #project-2 {
    background-image: url(./images/weather-dash.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: var(--projwidth);
    height: var(--projheight);
    margin: var(--projmargin);
    padding: var(--projpadding);
  }

  #project-3 {
    background-image: url(./images/password-gen.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: var(--projwidth);
    height: var(--projheight);
    margin: var(--projmargin);
    padding: var(--projpadding);
  }

  #project-4 {
    background-image: url(./images/dailyscheduler.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: var(--projwidth);
    height: var(--projheight);
    margin: var(--projmargin);
    padding: var(--projpadding);
  }
/* Added flex to footer */
  footer {
    display: flex;
    flex-direction: column;
  }
  
  footer > * {
    flex: 1;
  }

  #contacttitle {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border: 7px var(--bordercolor);
    border-style: solid;
    margin: 1em;
  }
  
  #contactme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    line-height: 30px;
  }
  
  #contactme:hover {
  box-shadow: 10px 10px 5px var(--bordercolor);
  }

  /* Large smartphones */
@media screen and (min-width: 768px) {
    header {
      flex-direction: row;
    }
    ul, li {
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .projects {
      flex-direction: row;
    }
  }
  
  /* Small smartphones  */
  @media screen and (min-width: 576px) {
    header {
      flex-direction: row;
    }
    ul, li {
      flex-direction: row;
      justify-content: flex-end;
    }
  }